@{
    ViewData["Title"] = "People Index";  
}

@model ViewModelsContainer


<h1>People Index</h1>

<div class="forms people-index">

    <form asp-controller="People" asp-action="Search" method="post" class="search people">
        <fieldset>
            <legend>Search for people</legend>

            <label for="search">Search term:</label>
            <input type="text" id="search" name="search" value="@Model.People.Search" required>

            <input type="submit" name="submit" value="Search" class="submit">
        </fieldset>
    </form>

    <form asp-controller="People" asp-action="CreatePerson" method="post" class="create person">
        <div asp-validation-summary="All" class="error-message"></div>
        <fieldset>
            <legend>Add a person</legend>

            <div class="field">
                <label asp-for="CreatePerson.Name" for="name"></label>
                <input asp-for="CreatePerson.Name" name="name" type="text">
                <span asp-validation-for="CreatePerson.Name"></span>
            </div>

            <div class="field">
                <label asp-for="CreatePerson.Phone" for="phone"></label>
                <input asp-for="CreatePerson.Phone" name="phone" type="text">
                <span asp-validation-for="CreatePerson.Phone"></span>
            </div>

            <div class="field">
                <label asp-for="CreatePerson.City" for="city"></label>
                <select asp-for="CreatePerson.City" name="city" asp-items="@Model.CreatePerson.SelectCity"></select>
                <span asp-validation-for="CreatePerson.City"></span>
            </div>

            <div class="field">
                <label asp-for="CreatePerson.Languages" for="languages"></label>
                <select asp-for="CreatePerson.Languages" name="languages" asp-items="@Model.CreatePerson.SelectLanguages" multiple></select>
                <span asp-validation-for="CreatePerson.Languages"></span>
            </div>

            <input type="submit" name="submit" value="Create" class="submit">
        </fieldset>
    </form>

</div>





<h2>List of people</h2>

@if (Model.People.List.Any())
{
<div class="container table people">
    <div class="row column-headers">
        <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</div>
        <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">Telephone</div>
        <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">City</div>
        <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">Languages</div>
        <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">Action</div>
    </div>
    @foreach (Person person in Model.People.List)
    {
        <partial name="~/Views/Shared/_TableRowPerson.cshtml" model="person" />
    }
</div>
}
else
{
    <p>List has no items.</p>
}
